{% extends 'base.html' %}

{% set title="Home" %}

{% block scripts %}
<script>
    var SOCKETSERVER_PORT = 8001;
</script>
<script src="/static/js/index.js"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main_content %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Colors</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span3">
            <form class="form-inline">
                <legend>Add A Block</legend>
                <input type="text" placeholder="RRGGBB" pattern="{{ COLOR_PATTERN }}" name="color" />
                <button id="add-block-button" class="btn"><i class="icon-plus"></i></button>
            </form>
            <form class="form">
                <legend>Edit Block</legend>
                <div class="control-group">
                    <div class="controls">
                        <label class="control-label"> Frequency
                            <input type="number" disabled="disabled" min="0.1" max="30" name="frequency"/>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="range">Red Channel</label>
                        <input type="range" disabled="disabled" min="0" max="255" name="r"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="range">Green Channel</label>
                        <input type="range" disabled="disabled" min="0" max="255" name="g"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="range">Blue Channel</label>
                        <input type="range" disabled="disabled" min="0" max="255" name="b"/>
                    </div>
                </div>
            </form>
            <form class="form">
                <legend>Delete Block</legend>
                <div class="control-group pull-right">
                    <div class="controls">
                        <button id="delete-block" class="btn btn-danger" disabled="true">Delete</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span9">
            <div id="blocks">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <footer></footer>
</div>
{% endblock %}            
