{% extends 'base.html' %}

{% set title="Home" %}

{% block scripts %}
<script>
    var SOCKETSERVER_PORT = 8001;
</script>
<script src="/static/js/index.js"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main_content %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Colors</a>
        </div>
    </div>
</div>
{#<div class="container">
    <div class="row">
        <div class="span4">
        </div>
        <div class="span8">
            <div class="btn-group pull-right">
                <button id="zoom-out" class="btn"><i class="icon-zoom-out"></i></button>
                <button id="zoom-in" class="btn"><i class="icon-zoom-in"></i></button>
            </div>
        </div>
    </div>
</div>#}
<div class="container">
    <div class="row">
        <div class="span3">
            <form class="form-inline">
                <legend>Add A Block</legend>
                <input type="text" placeholder="RRGGBB" pattern="{{ COLOR_PATTERN }}" name="color" />
                <button id="add-block-button" class="btn"><i class="icon-plus"></i></button>
            </form>
            <form class="form">
                <legend>Edit Block</legend>
                <div class="control-group">
                    <div class="controls">
                        <label class="range"> R
                            <input type="range" min="0" max="255" name="r"/>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="range"> G
                            <input type="range" min="0" max="255" name="g"/>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="range"> B
                            <input type="range" min="0" max="255" name="b"/>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="span9">
            <div id="blocks">
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <hr>
    <footer></footer>
</div>
{% endblock %}            
