{% extends 'base.html' %}

{% set title="Home" %}

{% block scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main_content %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Colors</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span4">
            <form class="form-inline">
                <input type="text" pattern="{{ COLOR_PATTERN }}" name="color" />
                <button id="add-block-button" class="btn"><i class="icon-plus"></i></button>
            </form>
        </div>
        <div class="span8">
            <div class="btn-group pull-right">
                <button id="zoom-out" class="btn"><i class="icon-zoom-out"></i></button>
                <button id="zoom-in" class="btn"><i class="icon-zoom-in"></i></button>
            </div>
        </div>
    </div>
</div>
<div id="blocks" class="container">
    <hr>
</div>
<div class="container">
    <hr>
    <footer></footer>
</div>
{% endblock %}            
